{{ with .Site.GetPage "/advertising-disclosure" }}
<div x-data="{ 'isDialogOpen': false }" @keydown.escape="isDialogOpen = false">

    <a class="block w-full text-center text-sm hover:text-gray-500 underline cursor-pointer"
        @click="isDialogOpen = true">
        {{ T "advertising_disclosure_title" }}
    </a>

    <!-- overlay -->
    <div x-cloak class="overflow-auto" style="background-color: rgba(0,0,0,0.5)" x-show="isDialogOpen"
        :class="{ 'inset-0 z-50 flex items-start justify-center fixed': isDialogOpen }">
        <!-- dialog -->
        <div class="bg-white shadow-2xl m-4 sm:m-8" x-show="isDialogOpen" @click.away="isDialogOpen = false">
            <div class="flex justify-between items-center border-b p-2 text-xl">
                <h6 class="text-xl font-bold">{{ .Title }}</h6>
                <button type="button" @click="isDialogOpen = false">✖</button>
            </div>
            <div class="p-2">
                <!-- content -->
                <aside class="prose prose-sm mt-4 p-4 bg-yellow-100 border border-yellow-500">
                    {{ .Content }}
                </aside>
                <button x-on:click.prevent="isDialogOpen = false" type="button"
                    class="inline-block items-center mt-4 px-6 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-green-400 hover:bg-green-500 focus:outline-none focus:border-green-700 focus:ring-green active:bg-green-700 transition">
                    {{ T "advertising_disclosure_btn" }}
                </button>
            </div>
        </div><!-- /dialog -->
    </div><!-- /overlay -->
</div>
{{ end }}