{{ define "main" }}

<div class="flex flex-wrap" id="top">
  <div class="w-full md:w-3/4 bg-white">

    <div class="relative py-16 bg-white overflow-hidden">
      <div class="hidden lg:block lg:absolute lg:inset-y-0 lg:right-0 lg:h-full lg:w-full">
        <div class="relative h-full text-lg max-w-prose mx-auto">
          <svg class="absolute top-16 left-full transform translate-x-28" width="404" height="384" fill="none"
            viewBox="0 0 404 384">
            <defs>
              <pattern id="74b3fd99-0a6f-4271-bef2-e80eeafdf357" x="0" y="0" width="20" height="20"
                patternUnits="userSpaceOnUse">
                <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
              </pattern>
            </defs>
            <rect width="404" height="384" fill="url(#74b3fd99-0a6f-4271-bef2-e80eeafdf357)" />
          </svg>
          <svg class="absolute top-1/2 right-full transform -translate-y-1/2 -translate-x-32" width="404" height="384"
            fill="none" viewBox="0 0 404 384">
            <defs>
              <pattern id="f210dbf6-a58d-4871-961e-36d5016a0f49" x="0" y="0" width="20" height="20"
                patternUnits="userSpaceOnUse">
                <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
              </pattern>
            </defs>
            <rect width="404" height="384" fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)" />
          </svg>
          <svg class="absolute bottom-12 right-full transform -translate-y-1/4 -translate-x-32" width="404" height="384"
            fill="none" viewBox="0 0 404 384">
            <defs>
              <pattern id="d3eb07ae-5182-43e6-857d-35c643af9034" x="0" y="0" width="20" height="20"
                patternUnits="userSpaceOnUse">
                <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
              </pattern>
            </defs>
            <rect width="404" height="384" fill="url(#d3eb07ae-5182-43e6-857d-35c643af9034)" />
          </svg>
        </div>
      </div>
      <div class="relative px-4 sm:px-6 lg:px-8">
        <div class="text-lg max-w-prose mx-auto mb-6">

          <p class="text-base text-center leading-6 text-green-600 font-semibold tracking-wide uppercase">
            {{ T "review_introducing" }}
          </p>

          <h1
            class="mt-2 mb-8 text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
            {{ .Title }}
          </h1>
        </div>

        <div class="w-full lg:w-9/12 mx-auto">
          {{ if eq .Section "products"}}
          {{ partial "reviews/pros-cons" . }}
          {{ partial "reviews/highlights" . }}
          {{ partial "reviews/visit-product" . }}
          {{ end }}

          <div class="prose lg:prose-xl prose-green max-w-none my-6 mx-auto">
            {{ if eq .Section "products"}}
            <h2 class="my-6">{{ .Title }}</h2>
            {{ end }}

            {{ .Content }}
          </div>
        </div>

        <div class="w-full flex justify-end items-center">
          <a href="{{ .Permalink }}#top" class="underline" aria-label="Scroll to Top">
            {{ T "back_top" }}
            <svg class="w-6 h-6 inline-flex text-green-400" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L9 9.414V13a1 1 0 102 0V9.414l1.293 1.293a1 1 0 001.414-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>

      </div>
    </div>

  </div>

  <div class="w-full md:w-1/4 bg-white">
    {{ partial "sidebar" . }}
  </div>
</div>

{{ if eq .Section "products"}}
{{ partial "reviews/mobile-footer-toast" . }}
{{ end }}

{{ end }}