<!--
    Animated Rating Circle / Progress Pie Chart
-->
{{ $color := "text-green-600" }}
{{ if (and (lt .rating 90) (gt .rating 80)) }}
{{ $color = "text-yellow-500" }}
{{ else if (and (lt .rating 80) (gt .rating 50)) }}
{{ $color = "text-yellow-400" }}
{{ else if lt .rating 90 }}
{{ $color = "text-red-500" }}
{{ end }}
<div class="flex-1 flex-nowrap">
  <div class="w-full justify-around">
    <svg viewBox="0 0 36 36" class="rating-circular-chart stroke-current fill-current {{ $color }}">
      <path class="rating-circle-bg" d="M18 2.0845
            a 15.9155 15.9155 0 0 1 0 31.831
            a 15.9155 15.9155 0 0 1 0 -31.831" />
      <path class="rating-circle" stroke-dasharray="{{ .rating | default 0 }}, 100" d="M18 2.0845
            a 15.9155 15.9155 0 0 1 0 31.831
            a 15.9155 15.9155 0 0 1 0 -31.831" />
      <text x="19" y="20.35" class="rating-percentage fill-current stroke-0 text-gray-600">{{ .rating | default 0 }}%</text>
    </svg>
  </div>
</div>