{{ define "main" }}


<div class="py-16 bg-gray-50 lg:py-24 overflow-hidden" id="top">
  <div class="relative max-w-xl mx-auto px-0 sm:px-2 md:px-4 lg:px-8 lg:max-w-screen-xl">

    <svg class="hidden top-32 lg:block absolute left-full transform -translate-x-1/2 -translate-y-1/4" width="404"
      height="784" fill="none" viewBox="0 0 404 784">
      <defs>
        <pattern id="b1e6e422-73f8-40a6-b5d9-c8586e37e0e7" x="0" y="0" width="20" height="20"
          patternUnits="userSpaceOnUse">
          <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
        </pattern>
      </defs>
      <rect width="404" height="784" fill="url(#b1e6e422-73f8-40a6-b5d9-c8586e37e0e7)" />
    </svg>

    <div class="relative">
      <h3 class="text-center text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
        {{- .Page.Params.heading -}} {{ partial "dates/month" . }} {{ partial "dates/year" . }}
      </h3>
      <p class="mt-4 max-w-3xl mx-auto text-center text-xl leading-7 text-gray-500">
        {{ .Page.Params.subtitle | plainify }}
      </p>
    </div>

    <div class="relative z-30">

      <div class="w-full p-4 pl-6 mt-4 mb-2 flex rounded-t rounded-b bg-gray-100 border border-gray-200 text-gray-600">
        <div class="w-1/2 font-bold text-base">
          {{ T "top_products" }}
        </div>
        <div class="w-1/2 flex justify-end font-normal text-sm">
          {{ partial "advertiser-disclosure" . }}
        </div>
      </div>

      {{ range $i, $pages := .RegularPages }}
      {{ $c := add $i 1 }}
      {{ $data := index (index .Site.Data .Site.Language.Lang) (split $pages.Params.data_file "/") }}

      {{ $cardClass := `bg-white hover:bg-gray-50 shadow-lg rounded-t rounded-b border border-gray-200` }}
      {{ if eq $c 1 }}
      {{ $cardClass = `bg-white hover:bg-gray-50 shadow-lg rounded-t rounded-b border-2 border-green-500` }}
      {{ end }}

      <div class="relative flex flex-wrap mx-2 lg:mx-0 px-4 pt-4 pb-4 mb-4 {{ $cardClass }}">

        {{ if eq $c 1 }}
        <div
          class="absolute z-20 w-1/2 lg:w-2/12 break-words text-center -mx-4 -mt-4 p-2 rounded-br-lg border-b border-r border-gray-200 bg-green-500 text-white text-sm lg:text-base font-bold">
          <a target="_blank" data-ppc-offer="{{ $data.name }}" href="{{ $data.cpa_link }}" class="ppc-click z-50 block">
            🏆 {{ T "editors_choice" }} {{ partial "dates/year" . }}
          </a>
        </div>
        {{ end }}

        <div class="relative w-1/2 lg:w-2/12 text-md flex items-center justify-center">
          <a target="_blank" data-ppc-offer="{{ $data.name }}" href="{{ $data.cpa_link }}" class="ppc-click">
            <img class="z-0 w-full" src="./img/products/{{ $data.logo }}" alt="{{ $data.name }}">
          </a>
        </div>

        <div class="w-1/2 lg:hidden">
          {{ partial "ratings/circle" (dict "rating" $data.rating) }}
        </div>

        <div class="w-full lg:w-5/12 pl-4 text-sm">
          <ul class="list-none">
            {{ if eq $c 1 }}
            {{ range $data.when_top_ranked.list }}
            <li class="mb-1 flex flex-nowrap">
              <div class="w-auto">
                <svg class="w-6 h-6 text-yellow-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
              </div>
              <div class="w-auto pl-2">
                {{ . | markdownify }}
              </div>
            </li>
            {{ end }}
            {{ end }}

            {{ if eq $c 1 }}
            <li class="hidden lg:block mb-2 mt-2 font-bold">Highlights:</li>
            {{ end }}

            {{ range $data.highlights }}
            <li class="mb-1 flex flex-nowrap">
              <div class="w-auto">
                <svg class="w-6 h-6 text-green-500 inline" xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                </svg>
              </div>
              <div class="w-auto pl-2">
                {{ . | markdownify }}
              </div>
            </li>
            {{ end }}
          </ul>

          {{ if eq $c 1 }}
          {{ with $data.when_top_ranked.callout }}
          <div class="pt-5 flex flex-nowrap">
            <div class="w-auto">
              <svg class="w-6 h-6 text-green-500 inline" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z" />
              </svg>
            </div>
            <div class="w-auto pl-2 font-bold">
              {{ $data.when_top_ranked.callout | default "" }}
            </div>
          </div>
          {{ end }}
          {{ end }}
        </div>

        <div class="hidden lg:w-2/12 lg:flex lg:items-center lg:justify-center">
          {{ partial "ratings/circle" (dict "rating" $data.rating) }}
        </div>

        <div class="w-full mt-4 lg:mt-0 lg:w-3/12 flex items-center justify-center">
          <span class="w-full">
            {{ $buttonClass := `w-full h-12 inline-flex justify-center items-center shadow-lg px-6 py-3 border
            border-transparent text-base leading-6 font-medium rounded-md text-black text-opacity-60 bg-gray-200
            border-gray-500 hover:bg-gray-300 hover:border-gray-500 focus:outline-none focus:border-gray-700
            focus:ring-gray active:bg-gray-700 transition` }}
            {{ if eq $c 1 }}
            {{ $buttonClass = `w-full h-16 inline-flex justify-center items-center shadow-lg px-6 py-3 border
            border-transparent text-base leading-6 font-medium rounded-md text-white bg-green-500 border-green-600
            hover:bg-green-600
            hover:border-green-700 focus:outline-none focus:border-green-700 focus:ring-green active:bg-green-700
            transition` }}
            <div class="w-full font-bold mb-2 flex justify-center">
              <svg class="w-6 h-6 text-yellow-600 inline" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z" />
              </svg>
              {{ T "most_popular" }}
            </div>
            {{ end }}
            <a target="_blank" data-ppc-offer="{{ $data.name }}" href="{{ $data.cpa_link }}" class="ppc-click flex flex-nowrap {{ $buttonClass }}">
              {{ $data.button_cta }}
              <svg class="w-6 h-6 ml-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z"
                  clip-rule="evenodd"></path>
              </svg>
            </a>
            {{ if eq $data.has_secondary_offer true }}
            <a target="_blank" data-ppc-offer="{{ $data.secondary_offer_name }}" href="{{ $data.secondary_cpa_link }}" class="ppc-click flex flex-nowrap mt-4 {{ $buttonClass }}">
              {{ $data.secondary_button_cta }}
              <svg class="w-6 h-6 ml-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z"
                  clip-rule="evenodd"></path>
              </svg>
            </a>
            {{ end }}

            {{ with $data.when_top_ranked.coupon_available }}
            {{ if $data.when_top_ranked.coupon_available }}
            <div class="pt-5 flex flex-nowrap">
              <div class="w-auto">
                <svg class="w-6 h-6 text-green-500 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                  fill="currentColor">
                  <path
                    d="M8.433 7.418c.155-.103.346-.196.567-.267v1.698a2.305 2.305 0 01-.567-.267C8.07 8.34 8 8.114 8 8c0-.114.07-.34.433-.582zM11 12.849v-1.698c.22.071.412.164.567.267.364.243.433.468.433.582 0 .114-.07.34-.433.582a2.305 2.305 0 01-.567.267z" />
                  <path fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-13a1 1 0 10-2 0v.092a4.535 4.535 0 00-1.676.662C6.602 6.234 6 7.009 6 8c0 .99.602 1.765 1.324 2.246.48.32 1.054.545 1.676.662v1.941c-.391-.127-.68-.317-.843-.504a1 1 0 10-1.51 1.31c.562.649 1.413 1.076 2.353 1.253V15a1 1 0 102 0v-.092a4.535 4.535 0 001.676-.662C13.398 13.766 14 12.991 14 12c0-.99-.602-1.765-1.324-2.246A4.535 4.535 0 0011 9.092V7.151c.391.127.68.317.843.504a1 1 0 101.511-1.31c-.563-.649-1.413-1.076-2.354-1.253V5z"
                    clip-rule="evenodd" />
                </svg>
              </div>
              <div class="w-auto pl-2 text-sm text-green-500">
                {{ $data.when_top_ranked.coupon_available }}
              </div>
            </div>
            {{ end }}
            {{ end }}

          </span>
        </div>

      </div>

      <div class="relative my-3">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
          <div class="w-full border-t border-gray-300"></div>
        </div>
        <div class="relative flex justify-center">
          <span class="px-2 bg-none text-sm text-gray-500">
            &nbsp;
          </span>
        </div>
      </div>

      {{ end }}

      <div
        class="prose prose-lg prose-green max-w-none text-left mx-2 lg:mx-0 p-4 pt-8 border border-gray-200 bg-white rounded-md shadow-lg">

        <div class="w-full lg:w-8/12 mx-auto">
          {{- .Content -}}
        </div>

      </div>

      <div class="w-full flex justify-end items-center mt-4">
        <a href="{{ .Permalink }}#top" class="underline" aria-label="Scroll to Top">
          {{ T "back_top" }}
          <svg class="w-6 h-6 inline-flex text-green-500" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L9 9.414V13a1 1 0 102 0V9.414l1.293 1.293a1 1 0 001.414-1.414z"
              clip-rule="evenodd"></path>
          </svg>
        </a>
      </div>

    </div>

    <svg class="hidden lg:block absolute right-full transform translate-x-1/2 -translate-y-1/4 z-0" width="404"
      height="784" fill="none" viewBox="0 0 404 784">
      <defs>
        <pattern id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d" x="0" y="0" width="20" height="20"
          patternUnits="userSpaceOnUse">
          <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
        </pattern>
      </defs>
      <rect width="404" height="784" fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)" />
    </svg>

  </div>

</div>

{{ end }}