{{ $data := index (index .Site.Data .Site.Language.Lang) (split .Params.data_file "/") }}
<div class="md:hidden h-16 alert-footer w-full fixed bottom-0 mt-4 border-t border-gray-200">
  <div class="flex mb-4 bg-gray-50 h-16 leading-none" role="alert">
    <div class="w-1/2">
      <a class="w-full text-base font-bold" target="_blank" data-ppc-offer="{{ $data.name }}" href="{{ $data.cpa_link }}">
        <img class="h-16 object-fill inline-flex" src="./img/products/{{ $data.icon }}" alt="{{ .Title }}">
        {{ .Title }}
      </a>
    </div>
    <div class="w-1/2 flex justify-end items-center">
      <a target="_blank" data-ppc-offer="{{ $data.name }}" href="{{ $data.cpa_link }}"
            class="inline-flex h-10 items-center flex-nowrap whitespace-nowrap shadow-sm mr-2 px-6 py-3 border border-transparent text-sm leading-6 rounded-md text-white bg-green-500 border-green-600 hover:bg-green-600 hover:border-green-700 focus:outline-none focus:border-green-700 focus:ring-green active:bg-green-700 transition">
            {{ $data.button_cta }}
        </a>
    </div>
  </div>
</div>