{{ $data := index (index .Site.Data .Site.Language.Lang) (split .Page.Params.data_file "/") }}
<div class="flex items-center my-6 bg-gray-50 h-20 leading-none rounded-b rounded-t border border-gray-200">
  <div class="w-1/2 md:w-2/3">
    <a target="_blank" 
      data-ppc-offer="{{ $data.name }}"
      class="ppc-click w-full flex items-center h-20 text-sm md:text-lg truncate md:font-bold text-gray-800 no-underline"
      href="{{ $data.cpa_link }}">
      <img class="h-16 object-fill inline-flex mt-0 mb-0 mx-2" src="./img/products/{{ $data.icon }}"
        alt="{{ .Page.Title }}">
      {{ .Page.Title }}
    </a>
  </div>
  <div class="w-1/2 md:w-1/3 flex justify-end items-center">
    <a target="_blank" data-ppc-offer="{{ $data.name }}" href="{{ $data.cpa_link }}"
      class="ppc-click flex flex-nowrap whitespace-nowrap h-12 no-underline items-center w-full justify-center shadow-sm mr-2 px-6 py-3 border border-transparent text-sm md:text-base md:leading-6 md:font-bold rounded-md text-white bg-green-500 border-green-600 hover:bg-green-600 hover:border-green-700 focus:outline-none focus:border-green-700 focus:ring-green active:bg-green-700 transition">
      {{ $data.button_cta }}
    </a>
  </div>
</div>